<<<<<<< HEAD
<h1>Novo usuário</h1>

<%= render 'form', user: @user %>

<%= link_to 'Voltar', users_path %>

=======
<div class="content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Novo Usuário</h1>

      <%= render 'form', user: @user %>

      <%= link_to 'Voltar', users_path %>
    </div>
  </div>
</div>
>>>>>>> eb73ce4a01ce04b6ec2880475f9e984481e21d3a
