<<<<<<< HEAD
<h1>Novo Usuário</h1>

<%= render 'form', user: @user %>


=======
<h1>Novo usuário</h1>

<%= render 'form', user: @user %>

<%= link_to 'Voltar', users_path %>
>>>>>>> d268622e29d2bb20f356fd85e891f76f5095eb4e
